<div class="container">
    <div class="error404-wrapper">
        <div class="error404">
            <h1>404 Ошибка</h1>
            <p>Страница не найдена :( </p>
            <a href="/">Вернуться на главную</a>
        </div>
    </div> 
</div>
